

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

#container {
    background-image: url("../image/Questionnaire_img.jpg");
    height: 360px;
    padding: 2.5% 0;
    border-bottom: 10px rgba(53, 36, 15, 0.623) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#title-Questionnaire {
    text-align: center;
}

#title-Questionnaire div {
    min-width: 800px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Philosopher', serif;
    text-shadow: 0 0 0.8em rgb(255, 211, 145), 0 0 0.8em rgb(131, 107, 0) ;
    margin: 0 10%;
    padding: 3% 10%;
    
}

#title-Questionnaire div h2 {
    font-size: 5rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    border-bottom: 1.5px rgba(255, 255, 255, 0.562) solid;
}

#title-Questionnaire div p {
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    text-shadow: 0 0 0.15em rgb(255, 211, 145), 0 0 0.15em rgb(131, 107, 0) ;
}

#introduction {
    border-top: 1.5px rgba(0, 0, 0, 0.5) solid;
    margin-top: 16px;
    background: linear-gradient(to bottom, rgba(0, 36, 4, 0.925), transparent 105%) ;
    text-align: center;
    padding: 1% 10%;
}

#introduction h2{
    color: aliceblue;
    text-shadow: 0 0 0.15em rgb(255, 211, 145), 0 0 0.15em rgb(131, 107, 0) ;
}

#introduction p{
    color: aliceblue;
    text-shadow: 0 0 0.15em rgb(255, 211, 145), 0 0 0.15em rgb(255, 242, 182) ;
}

#basic-information {
    color: rgb(41, 28, 9);
    margin-top: 12px;
    background: linear-gradient(to right, rgba(255, 249, 237, 0.658), transparent 105%) ;;
    padding: 12px 24px;
    border-top: 2px rgba(53, 37, 19, 0.555) solid;
    border-left: 2px rgba(53, 37, 19, 0.555) solid;
    border-right: 2px rgba(53, 37, 19, 0.555) solid;
    border-bottom: 10px rgba(53, 37, 19, 0.555) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#basic-information h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    border-bottom-style:groove;
}

#basic-information form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#survey{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 10px;
    width: 70%;
}

#survey div{
    margin-top: 16px;
}

input[type="text"],
textarea {
    border: 1px rgba(53, 37, 19, 0.5) solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}


input[type="text"] {
    width: 100%;
    max-width: 480px;
}


#multiple-choice {
    margin-top: 12px;
    color: rgb(41, 28, 9);
    background-color: antiquewhite;
    background: linear-gradient(to right, rgba(255, 251, 243, 0.849), transparent 160%) ;;
    padding: 12px 24px;
    padding-bottom: 50px;
    border-top: 2px rgba(53, 37, 19, 0.555) solid;
    border-left: 2px rgba(53, 37, 19, 0.555) solid;
    border-right: 2px rgba(53, 37, 19, 0.555) solid;
    border-bottom: 10px rgba(53, 37, 19, 0.555) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#multiple-choice h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    border-bottom-style:groove;
}

#multiple-choice form {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 10px;
}

#q1 {
    margin-top: 18px ;
    padding-bottom: 60px;
}

#q1 div {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
    border-radius: 6px;
    padding: 10px;
}

#q1 div:hover {
    background: linear-gradient(to right, rgba(255, 231, 184, 0.788), transparent 105%) ;
}

#q2 {
    margin-top: 18px ;
    padding-bottom: 60px;
}

#q2 div {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
    border-radius: 6px;
    padding: 10px;
}

#q2 div:hover {
    background: linear-gradient(to right, rgba(255, 231, 184, 0.788), transparent 105%) ;
}

#q3 {
    margin-top: 18px ;
    padding-bottom: 60px;
}

#q3 div {
    margin-left: 20px;
    margin-top: 10px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
    border-radius: 6px;
    padding: 10px;
}

#q3 div:hover {
    background: linear-gradient(to right, rgba(255, 231, 184, 0.788), transparent 105%) ;
}

#q4 {
    margin-top: 18px ;
}

#q4-1 {
    margin-left: 20px;
    margin-top: 18px;
    padding-bottom: 60px;
}

#q4-1 div {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
    border-radius: 6px;
    padding: 10px;
}

#q4-1 div:hover {
    background: linear-gradient(to right, rgba(255, 231, 184, 0.788), transparent 105%) ;
}

#q4-2 {
    margin-left: 20px;
    margin-top: 18px;
    padding-bottom: 60px;
}

#q4-2 div {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
    border-radius: 6px;
    padding: 10px;
}

#q4-2 div:hover {
    background: linear-gradient(to right, rgba(255, 231, 184, 0.788), transparent 105%) ;
}

#q4-3 {
    margin-left: 20px;
    margin-top: 18px;
    padding-bottom: 60px;
}

#q4-3 div {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
    border-radius: 6px;
    padding: 10px;
}

#q4-3 div:hover {
    background: linear-gradient(to right, rgba(255, 231, 184, 0.788), transparent 105%) ;
}

#feedback {
    margin-top: 12px;
    color: rgb(41, 28, 9);
    background-color: antiquewhite;
    background: linear-gradient(to right, rgba(255, 251, 243, 0.849), transparent 160%) ;;
    padding: 12px 24px;
    padding-bottom: 50px;
    border-top: 2px rgba(53, 37, 19, 0.555) solid;
    border-left: 2px rgba(53, 37, 19, 0.555) solid;
    border-right: 2px rgba(53, 37, 19, 0.555) solid;
    border-bottom: 10px rgba(53, 37, 19, 0.555) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#feedback h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    border-bottom-style:groove;
}

#feedback-table {
    padding-top: 16px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 10px;
}

#feedback-table th {
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
}

#feedback-table td {
    text-align: center;
    border-radius: 4px;
    border: 1px rgba(53, 37, 19, 0.555) solid;
}

#feedback-table td:hover {
    background: rgba(255, 214, 188, 0.295);
}

#feedback-table table {
    border-radius: 8px;
}

#feedback-table .feedback-question {
    border: 2px rgba(53, 37, 19, 0.555) solid;
    font-size: 1rem;
    padding: 0 12px;
}

#feedback-table .feedback-question:hover {
    background: none;
}

#feedback-table .space {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 80px;
}

#feedback-textarea-title {
    margin-top: 24px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    border-bottom-style:groove;
}

#feedback-textarea {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}

#contact {
    margin-top: 12px;
    color: rgb(41, 28, 9);
    background-color: antiquewhite;
    background: linear-gradient(to right, rgba(255, 251, 243, 0.849), transparent 160%) ;;
    padding: 12px 24px;
    padding-bottom: 50px;
    border-top: 2px rgba(53, 37, 19, 0.555) solid;
    border-left: 2px rgba(53, 37, 19, 0.555) solid;
    border-right: 2px rgba(53, 37, 19, 0.555) solid;
    border-bottom: 10px rgba(53, 37, 19, 0.555) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#contact h2 {
    margin-top: 12px;
}

#contact p { 
    margin-top: 20px;
    margin-bottom: 20px;
}

#team-profile {
    margin-top: 12px;
    color: rgb(41, 28, 9);
    background-color: antiquewhite;
    background: linear-gradient(to right, rgba(255, 251, 243, 0.849), transparent 160%) ;;
    padding: 12px 24px;
    padding-bottom: 50px;
    border-top: 2px rgba(53, 37, 19, 0.555) solid;
    border-left: 2px rgba(53, 37, 19, 0.555) solid;
    border-right: 2px rgba(53, 37, 19, 0.555) solid;
    border-bottom: 10px rgba(53, 37, 19, 0.555) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#team-profile h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    border-bottom-style:groove;
}

#location {
    padding: 4% 0;
}

#location .wrapper {
    display: flex;
    justify-content: space-between;
}

.location-info {
    width: 22%;
}

.location-info p {
    padding: 12px 10px;
}

.location-map {
    width: 74%;
    border-radius: 8px;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    font-weight: normal;
}

#sns {
    background: #FAF7F0;
    padding: 4% 0;
}


#sns .sub-title {
    margin-bottom: 30px;
    text-align: center;
}

.sns-box {
    width: 100%;
    display: flex;
    justify-content: center;
}


