@charset "UTF-8";

html {
    font-size: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#container {
    background-image: url("../image/Questionnaire_img.jpg");
    height: 360px;
    padding: 2.5% 0;
    border-bottom: 10px rgba(53, 36, 15, 0.623) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}

#title-Questionnaire {
    text-align: center;
}

#title-Questionnaire div {
    min-width: 800px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Philosopher', serif;
    text-shadow: 0 0 0.8em rgb(255, 211, 145), 0 0 0.8em rgb(131, 107, 0) ;
    margin: 0 10%;
    padding: 3% 10%;
    
}

#title-Questionnaire div h2 {
    font-size: 5rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    border-bottom: 1.5px rgba(255, 255, 255, 0.562) solid;
}

#title-Questionnaire div p {
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    text-shadow: 0 0 0.15em rgb(255, 211, 145), 0 0 0.15em rgb(131, 107, 0) ;
}

#introduction {
    border-top: 1.5px rgba(0, 0, 0, 0.5) solid;
    margin-top: 16px;
    background: linear-gradient(to bottom, rgba(0, 36, 4, 0.925), transparent 105%) ;
    text-align: center;
    padding: 1% 10%;
}

#introduction h2{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.1em rgb(255, 230, 199), 0 0 0.1em rgb(255, 226, 96) ;
}

#introduction p{
    color: aliceblue;
    text-shadow: 0 0 0.1em rgb(255, 235, 204), 0 0 0.1em rgb(255, 224, 88) ;
}

.district {
    margin-top: 12px;
    color: rgb(41, 28, 9);
    background-color: antiquewhite;
    background: linear-gradient(to right, rgba(255, 251, 243, 0.849), transparent 160%) ;;
    padding: 12px 24px;
    padding-bottom: 50px;
    border-top: 2px rgba(53, 37, 19, 0.555) solid;
    border-left: 2px rgba(53, 37, 19, 0.555) solid;
    border-right: 2px rgba(53, 37, 19, 0.555) solid;
    border-bottom: 10px rgba(53, 37, 19, 0.555) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    border-bottom-style:groove;
}

.question {
    margin-top: 18px ;
    padding-bottom: 60px;
}

.multiple-choice {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 10px;
}

#basic-information form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#survey{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 10px;
    width: 70%;
}

#survey div{
    margin-top: 16px;
}

input[type="text"],
textarea {
    border: 1px rgba(53, 37, 19, 0.5) solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}


input[type="text"] {
    width: 90%;
    max-width: 480px;
}

.question div {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px rgba(53, 37, 19, 0.555) solid;
    border-radius: 6px;
    padding: 10px;
}

.question div:hover {
    background: linear-gradient(to right, rgba(255, 231, 184, 0.788), transparent 105%) ;
}

#feedback-textarea-title {
    margin-top: 24px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    border-bottom-style:groove;
}

#feedback-textarea {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    justify-items: centers;
}

textarea {
    width: 100%;
    max-width: 90%;
    height: 24rem;
}

#contact .title {
    margin-top: 12px;
}

#contact p { 
    margin-top: 20px;
    margin-bottom: 20px;
}

#location {
    padding: 4% 0;
}

#location .wrapper {
    display: flex;
    justify-content: space-between;
}

.location-info {
    width: 22%;
}

.location-info p {
    padding: 12px 10px;
}

.location-map {
    width: 74%;
    border-radius: 8px;
    height: 480px;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
    font-weight: normal;
}

#sns {
    padding: 4% 0;
}


#sns .sub-title {
    margin-bottom: 30px;
}

.sns-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #c7d8ad27;
    padding: 5%;
    border-radius: 12px;
}

#button {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#button button {
    padding: 8px;
    font-size: 2rem;
    color: #FAF7F0;
    width: 100%;
    max-width: 20%;
    border-radius: 5px;
    background-color: rgb(92, 83, 75);
}

#button button:hover {
    background-color: rgb(160, 144, 131);
}

/* 手機版
------------------------------- */
@media (max-width: 1300px) {
    html {
        font-size: 160%;
    }
    body {
        width: max-content;
    }

    #container {
        height: 720px;
    }

    #title-Questionnaire div {
        padding: 3% 0;
    }

    #introduction {
        font-size: 1.25rem;
        padding-top: 2%;
        padding-bottom: 6%;
    }

    #title-Questionnaire {
        padding-top: 8%;
        padding-bottom: 2%;
    }

    #basic-information h2 {
        font-size: 3rem;
    }
    
    #survey {
        font-size: 2rem;
    }

    input[type="text"],
    textarea {
        border: 1px rgba(53, 37, 19, 0.5) solid;
        border-radius: 5px;
        padding: 20px;
        font-size: 1.5rem;
    }

    .title {
        margin-top: 5%;
        font-size: 2.5rem;
    }

    #multiple-choice form input {
        zoom: 220%;
    }

    .question {
        margin-top: 10%;
        font-size: 2rem;
    }
    
    .question div {
        margin-top: 2%;
        padding: 2rem;
        font-size: 1.6rem;
    }
    

    #feedback form input {
        zoom: 220%;
    }

    #feedback-textarea-title h3 {
        margin-top: 5%;
        font-size: 2.5rem;
    }
    
    #feedback-textarea-title p { 
        font-size: 1.5rem;
        margin-top: 1%;
        margin-bottom: 0.5%;
    }

    #contact p {
        font-size: 1.5rem;
        margin-top: 1%;
        padding-bottom: 3%;
    }

    #contact input {
        zoom: 220%;
    }

    #feedback-textarea {
        padding: 3%;
    }

    #feedback-textarea textarea {
        height: 24rem;
    }

    .method {
        font-size: 1.5rem;
        padding-bottom: 3%;
    }

    #button {
        padding: 10% ;
    }
    
    #button button {
        font-size: 3rem;
        width: 100%;
        max-width: 60%;
        padding: 5% 0 ;
        border-radius: 12px;
    }
    
    #location {
        padding: 4% 0;
    }
    
    #location .wrapper {
        flex-direction: column;
    }
    
    .location-info {
        width: 100%;
    }
    
    .location-info p {
        padding: 12px 10px;
    }
    
    .location-map {
        width: 100%;
        border-radius: 8px;
        height: 1000px;
    }
    
    .sub-title {
        width: 100%;
        max-width: 60%;
        font-size: 1.375rem;
        padding: 0 8px 8px;
        border-bottom: 2px rgba(53, 37, 19, 0.5) solid;
        font-weight: normal;
    }
    
    #sns .sub-title {
        margin-bottom: 30px;
    }
    
    .sns-box {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5%;
        border-radius: 12px;
        background-color: #c7d8ad27;
    }

    #sns .wrapper {
        display: flex;
        text-align: left;
        flex-direction: column;
    }
    
}